%h1 Editing Clip

= error_messages_for :clip

- form_for(:clip, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Update"

:erb  
  <% content_for :sidebar do %> 
    <%= render :partial => "clip_right" %>
  <% end %>

= link_to 'Show', object_path
|
= link_to 'Back', objects_path
