<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="keywords" content="Lost, Video, Dynamic, Timeline, Constand" />
  <meta name="description" content="Top Secret" />
  <title>Station Lost - How you want it</title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'base' %>
  <%= stylesheet_link_tag 'fonts' %>
  <%= stylesheet_link_tag 'pages' %>
  <%= stylesheet_link_tag 'simple-playlist' %>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery.pack' %>
  <%= javascript_include_tag 'jquery.mousewheel' %>
  <%= javascript_include_tag 'jquery.scrollable.min' %>
  <%= javascript_include_tag 'flashembed.min' %>
  
  <!--[if lte IE 7]>
    <%= javascript_include_tag 'IE7' %>
  <![endif]-->
  
  <%= yield :head %>
</head>

<body>
  <div id="container" class="<%= page_class %>">
    
    <div id="header">
      <a href="/">
        <h1 id="branding"><strong>Station Lost</strong></h1>
      </a>
      <%= yield :header %>
      
    </div>
    
    <div id="wrapper">
      <div id="primary">
        
        <%= get_flash %>

        <%= render :partial => "layouts/#{view_layout(@sub_layout)}", :layout => "layouts/#{controller_layout}" %>
        <%#= debug assigns %>
      </div>
    </div>
    
    <div id="secondary">
      
    <% default_content_for :sidebar do %>
      <%#= render :partial => 'shared/sidebar' %>
    <% end %>
    
    <%#= session_links %>
    </div>
    
    <div id="tertiary">
    </div>
    
    <div id="navigation">
      <ul>
	    <li><%= link_to "seasons", seasons_url %></li>
	    <li><%= link_to "episodes", episodes_url %></li>
		<li><%= link_to "clips", clips_url %></li>
		<li><%= link_to "playlists", playlists_url %></li>
	  </ul>
    </div>
    <br clear="all" />
    <div id="lower" style="width:100%;">
    	<%= yield :lower %>
    </div>
    <div id="footer">
      <% content 'roundbox', :box_class => "white" do %>
        <div id="contact">
          <!--
          <h3>Get in Touch</h3>
          <ul>
            <li>40 Main Street, Suite 3</li>
            <li>Brooklyn, NY 11201</li>
            <li>p. 646-233-3508</li>
            <li>f. 718-795-1942</li>
            <li>info@sympact.net</li>
          </ul>
          <%# image_tag 'contact_icon.png' %>
          -->
          <p>Creted by the PsyEO of Mop Top Media</p>
        </div>
      <% end %>
      <span class="clear"></span>
    </div>
    
  </div>
  
</body>
</html>